ProyectoWCF/UIusuario/Connected Services/ServicioUsuario/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/UsuarioWCF/Usuarios.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/UsuarioWCF/Usuarios.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/UsuarioWCF/Usuarios.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UsuarioWCF.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsuarios_GetAllUsuarioNombre_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsuarioNombre" />
  </wsdl:message>
  <wsdl:message name="IUsuarios_GetAllUsuarioNombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsuarioNombreResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarios_AddUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuarios_AddUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarios_UpUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:UpUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuarios_UpUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarios_DeleteUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuarios_DeleteUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarios_GetAllUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuarios_GetAllUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsuarios">
    <wsdl:operation name="GetAllUsuarioNombre">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarios/GetAllUsuarioNombre" message="tns:IUsuarios_GetAllUsuarioNombre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarios/GetAllUsuarioNombreResponse" message="tns:IUsuarios_GetAllUsuarioNombre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarios/AddUsuario" message="tns:IUsuarios_AddUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarios/AddUsuarioResponse" message="tns:IUsuarios_AddUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarios/UpUsuario" message="tns:IUsuarios_UpUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarios/UpUsuarioResponse" message="tns:IUsuarios_UpUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarios/DeleteUsuario" message="tns:IUsuarios_DeleteUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarios/DeleteUsuarioResponse" message="tns:IUsuarios_DeleteUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarios/GetAllUsuario" message="tns:IUsuarios_GetAllUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarios/GetAllUsuarioResponse" message="tns:IUsuarios_GetAllUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsuarios" type="tns:IUsuarios">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllUsuarioNombre">
      <soap:operation soapAction="http://tempuri.org/IUsuarios/GetAllUsuarioNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuarios/AddUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuarios/UpUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuarios/DeleteUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuarios/GetAllUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IUsuarios" binding="tns:BasicHttpBinding_IUsuarios">
      <soap:address location="http://localhost/UsuarioWCF/Usuarios.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>