ProyectoWCF/UIusuario/Connected Services/ServicioUsuario/Usuarios.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/UsuarioWCF/Usuarios.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UsuarioWCF.Models" />
  <xs:element name="GetAllUsuarioNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsuarioNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UsuarioWCF.Models" minOccurs="0" name="GetAllUsuarioNombreResult" nillable="true" type="q1:UsuarioModels" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UsuarioWCF.Models" minOccurs="0" name="company" nillable="true" type="q2:UsuarioModels" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUsuarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UsuarioWCF.Models" minOccurs="0" name="company" nillable="true" type="q3:UsuarioModels" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UsuarioWCF.Models" minOccurs="0" name="company" nillable="true" type="q4:UsuarioModels" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsuario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/UsuarioWCF.Models" minOccurs="0" name="GetAllUsuarioResult" nillable="true" type="q5:ArrayOfUsuarioModels" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>